@{
    ViewBag.Title = "About";
}

<body>


    <div class="content">
        <div class="ic">
        </div>
        <div class="about-main">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid rounded mb-4" src="~/Content/img/SantuarioAbout.jpg" alt="" />
                </div>
                <div class="col-lg-6">
                    <h2 class="center">Conoce las especies de México</h2>
                    <p>
                        Los santuarios son espacios que vinculan, lugares de conexión entre el mundo terrenal y el cosmos. México tiene una riqueza natural inmensa, colorida y muy variada. 
                        La Comisión Nacional de Áreas Naturales Protegidas (CONANP) define santuario como un área establecida en zonas caracterizadas por una considerable riqueza de flora o fauna. O por la presencia de especies, subespecies o hábitats de distribución restringida. Actualmente México cuenta con 176 Áreas Naturales Protegidas.
                        De cavernas y grutas a cañadas, cenotes y reservas protegidas. Si aún no los conoces, te invitamos a visitarlos y experimentar la emoción que provoca la naturaleza, presente en sus inicios como en nuestros días, de forma inexplicable y asombrosa.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="team-members-box">
        <h2 class="center text-white">Nuestro equipo</h2>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/Content/img/Cuidadores.jpg" alt="" />
                    <div class="card-body">
                        <h4 class="card-title"> Cuidadores</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Descripción:</h6>
                        <p class="card-text">Un verdadero ambientalista es una persona que comprende que nuestro medio ambiente no está separado del ser humano; es, más bien, el medio que sostiene la vida  y por ello valora las interrelaciones que existen entre los seres vivos y su entorno.</p>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/Content/img/Voluntarios.jpg" alt="" />
                    <div class="card-body">
                        <h4 class="card-title">Voluntarios</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Descripción:</h6>
                        <p class="card-text">Proteger el recurso hídrico, mantener nuestro barrio limpio, ahorrar electricidad, arborizar nuestras propiedades, reducir nuestros desechos, reciclar,  sumarnos a las campañas de limpieza y cuidar a los animales es un trabajo de todos.</p>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/Content/img/Administrativos.jpg" width="200" alt="" />
                    <div class="card-body">
                        <h4 class="card-title">Administrativos</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Descripción:</h6>
                        <p class="card-text">¿Quieres agendar una visita, constribuir o hacer la diferencia? Contáctate con el personal administrativo. Además si necesitas cancelar una visita ya creada, tendrás que ponerte en contacto para llevar a cabo el proceso.</p>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


