@{
    ViewBag.Title = "Contact";
}

<div class="content">
    <div class="ic"></div>
    <div class="container_12">


        <div class="row justify-content-center m-3 text-lg-center">

            <div class="card m-4" style="width: 18rem;">
                <img src="~/Content/img/Perfil.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Front-End Developer</h5>
                    <strong> Alumno:</strong> <br /> David Antonio FLores Águila<br />
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="glyphicon glyphicon-indent-left"></span><strong>  Número de control:</strong> <br /> 17211669<br /></li>
                    <li class="list-group-item"><strong>Carrera:</strong> <br /> Informática</li>
                    <li class="list-group-item">
                        <i class="fa fa-location-arrow"></i> <strong>Dirección:</strong>  <br />Instituto Tecnológico de Tijuana<br />
                        Calzada Del Tecnológico S/N, Fraccionamiento Tomas Aquino. Tijuana, Baja California. C.P. 22414<br /><br />
                    </li>
                    <ul class="social_footer_ul">
                        <li><strong>Contacto:</strong></li>
                        <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new"> <br /><i class="fa fa fa-envelope"></i></a> <br /> david.flores17@tectijuana.edu.mx</li>
                        <li><a href="https://web.whatsapp.com/"><i class="fa fa-phone"></i></a> <br /> +52 664 900 10 11</li>
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </ul>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="~/Content/img/Laura.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Back-End Developer</h5>
                    <strong> Alumna:</strong> <br /> Laura Michelle Vázquez Osuna<br />
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="glyphicon glyphicon-indent-left"></span><strong>  Número de control:</strong> <br /> 17212354<br /></li>
                    <li class="list-group-item"><strong>Carrera:</strong> <br /> Informática</li>
                    <li class="list-group-item">
                        <i class="fa fa-location-arrow"></i> <strong>Dirección:</strong>  <br />Instituto Tecnológico de Tijuana<br />
                        Calzada Del Tecnológico S/N, Fraccionamiento Tomas Aquino. Tijuana, Baja California. C.P. 22414<br /><br />
                    </li>
                    <ul class="social_footer_ul">
                        <li><strong>Contacto:</strong></li>
                        <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new"> <br /><i class="fa fa fa-envelope"></i></a> <br /> laura.vazquez17@tectijuana.edu.mx</li>
                        <li><a href="https://web.whatsapp.com/"><i class="fa fa-phone"></i></a> <br /> +52 664 900 10 11</li>
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>

