@{
    ViewBag.Title = "Home Page";
}

<div class="bottom_block">
    <div class="container_12">
        <div class="grid_12">
            <img src="~/Content/img/Principal.jpg"  alt="" class="img_inner">
        </div>
    </div>
</div>